<h1>Meus Destinos</h1>
<div >

   <table>
       <thead>
           <tr>
               <th>Destino Número</th>
               <th>id Destino</th>
               <th>Nome Destino</th>
               <th>Já Visitou?</th>
               <th>Opiniões</th>
               <th>Gastos</th>
               <th>Registro Criado</th>
               <th>Registro Editado</th>
           </tr>
       </thead>
       <tbody>
           <tr *ngFor="let lista of listas">
           <td>{{id}}</td> 
           <td>{{id_lugar}}</td> 
           <td>{{nome_lista}}</td>
           <td>{{visitou_lista}}</td>
           <td>{{comentarios_lista}}</td>
           <td>{{ valor_lista | currency}}</td>
           <td>{{createAt}}</td>
           <td>{{updateAt}}</td>
           <td>
            <button type="button">Editar</button>
            <button type="button">Deletar</button>
          </td>
    
    
    
           </tr>
       </tbody>
   </table>

</div>


