
<div>
<div class="fondo">
<div class="container">
    <div class="card list-car" *ngIf="formVisibility==false">
      <h5 class="card-header">Meus Destinos</h5>
      <div class="card-body">
        <table class="table">
        <thead>
          <tr>
              <th scope="col">Destino Número</th>
              <th scope="col">Nome Destino</th>
              <th scope="col">Já Visitou?</th>
              <th scope="col">Opiniões</th>
              <th scope="col">Custos</th>
          </tr>
      </thead>
      <tbody>
           <tr *ngFor="let listas of lista">
          <td>{{listas.id}}</td>     
          <td>{{listas.nome_lista}}</td>
          <td>{{true == listas.visitou_lista ? 'Sim' : 'Não' }}</td>
          <td>{{listas.comentarios_lista}}</td>
          <td>{{listas.valor_lista | currency:'BRL':true:'1.2-2'}}</td>
          <td class="botones">
            <button type="button" class="btn btn-warning btn-sm" (click)="editLista(listas)" >Editar</button>
            <button type="button" class="btn btn-danger btn-sm ml-1" (click)="deleteLista(listas)">Deletar</button>
          </td>

          </tr>
      </tbody>
  </table>
  </div>
</div>
 
<div *ngIf="formVisibility==true">
<div class="card add-car">
    <h5 class="card-header">Novo Destino</h5>
    <div class="card-body">
  
      <form id="add-form" (ngSubmit)="f.form.valid && SaveList(f)" #f="ngForm" novalidate>
  
  
      <div class="form-group">
          <label for="nome_lista">Destino Escolhido</label>
          <input type="text" [(ngModel)]="listas.nome_lista" id="nome_lista" name="nome_lista" #nome_lista="ngModel" required class="form-control" readonly>
          </div>

          <div class="form-group">
            <label for="visitou_lista">Visitou?</label>
         <select class="custom-select" [(ngModel)]="listas.visitou_lista"  id="visitou_lista" name="visitou_lista" #visitou_lista="ngModel">
              <option [value]="true">Sim</option>
              <option [value]="false">Não</option>
              </select> 
          </div>

      <div class="form-group">
        <label for="comentarios_lista">Opiniões</label>
        <input type="text" [(ngModel)]="listas.comentarios_lista" id="comentarios_lista" name="comentarios_lista" #comentarios_lista="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && comentarios_lista.invalid }">
        <div *ngIf="f.submitted && comentarios_lista.invalid" class="invalid-feedback">
            <div *ngIf="comentarios_lista.errors.required">Comentarios sao obrigatorios</div>
          </div>
      </div>

      <div class="form-group">
          <label for="valor_lista">Custo da visita</label>
          <input type="number" [(ngModel)]="listas.valor_lista" id="price" name="valor_lista" #valor_lista="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && valor_lista.invalid }">
          <div *ngIf="f.submitted && valor_lista.invalid" class="invalid-feedback">
              <div *ngIf="valor_lista.errors.required">Valor é obrigatório</div>
          </div>
      </div>
      <button type="submit" class="btn btn-primary btn-add-car" [disabled]="!f.form.valid">Atualizar</button>
      <button type="reset" class="btn btn-secondary btn-add-car" (click)="cleanForm(f)">Cancelar</button>
      <!-- [routerLink] = "['/listavisitas']" -->
    </form>
  
  </div>
  </div>

</div>

</div>
  
</div>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  

