
<div class="fondo">
   <div class="container">
       <div class="card list-car">
         <h5 class="card-header">Pontos Turisticos disponíveis no nosso site</h5>
         <div class="card-body">
           <table class="table">
    <thead>
      <tr>
       <th scope="col">Destino Número</th>
       <th scope="col">Nome Destino</th>
       <th scope="col">Endereco</th>
       <th scope="col">Custo estimado de visita</th>
   </tr>
</thead>
<tbody>
   <tr *ngFor="let pontos of ponto">
   <td>{{pontos.id}}</td>     
   <td>{{pontos.nome_lugar}}</td>
   <td>{{pontos.endereco_lugar}}</td>
   <td>{{ pontos.valor_lugar | currency:'BRL':true:'1.2-2'}}</td>
    </tr>
</tbody>
</table> 
         </div>
       </div>
   </div>
</div>