
<div class="fondo">
  <div class="card add-car">
      <h5 class="card-header">Novo Destino</h5>
      <div class="card-body">
    
      <form id="add-form" (ngSubmit)="f.form.valid && SaveList(f)" #f="ngForm" novalidate>
    
    
        <div class="form-group">
            <label for="nome_lista">Escolha seu destino</label>
            <select
            class="custom-select" [(ngModel)]="listas.nome_lista" id="nome_lista" name="nome_lista" #nome_lista="ngModel" (change)="teste()">
            
           <option *ngFor="let pontos of ponto" >{{pontos.nome_lugar}}</option>

            </select>
            

          </div>
            <div class="form-group">
              <label for="endereco_lugar">Endereço</label>
              <input type="text" id="endereco_lugar" name="endereco_lugar" required class="form-control" readonly [hidden]="listas.nome_lista == '0'" placeholder="{{ verSeleccion }}">
              </div> 
            
  
            <div class="form-group">
              <label for="visitou_lista">Visitou?</label>
              <select class="custom-select" [(ngModel)]="listas.visitou_lista"  id="visitou_lista" name="visitou_lista" #visitou_lista="ngModel">
              <option [value]="true">Sim</option>
              <option [value]="false">Não</option>
              </select>
            </div>
       
            
        
        <div class="form-group">
          <label for="comentarios_lista">Opiniões</label>
          <input type="text" [(ngModel)]="listas.comentarios_lista" id="comentarios_lista" name="comentarios_lista" #comentarios_lista="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && comentarios_lista.invalid }" placeholder="Conte para nós sua opinião ou expectativas sobre sua visita">
          <div *ngIf="f.submitted && comentarios_lista.invalid" class="invalid-feedback">
              <div *ngIf="comentarios_lista.errors.required">Comentarios são obrigatorios</div>
            </div>
        </div>
        <div class="form-group">
            <label for="valor_lista">Quanto você acha é o custo de visitar este lugar?</label>
            <input type="number" [(ngModel)]="listas.valor_lista" id="price" name="valor_lista" #valor_lista="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && valor_lista.invalid }" placeholder="Valor estimado em gastos para sua visita" >
            <div *ngIf="f.submitted && valor_lista.invalid" class="invalid-feedback">
                <div *ngIf="valor_lista.errors.required">Valor é obrigatório</div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-add-car">Salvar</button>
        <button type="reset" class="btn btn-secondary btn-add-car" (click)="cleanForm(f)">Cancelar</button>
       
      </form>
    
    </div>
    </div>
    
  </div>
    