<body>
    <h1>Novo Destino a visitar</h1>
    <div>
        <label>Destino Escolhido</label>
        <input readonly> 
        <label>Endereço</label>
        <input readonly>
       
    <div class="swtich-container">
        <label>Já visitou?</label>
        <br>
        <input type="checkbox" id="switch">
        <label for="switch" class="lbl"></label>
    </div>
    <label>Opiniões</label>
    <br>
    <textarea placeholder="Digite aqui seus comentarios ou sua expectativa na visita deste lugar"></textarea>
    <br>
    <label>Valor aproximado em gastos para seu destino escolhido</label>
    <input placeholder="R$">
    <button>Gravar</button>
    </div>
</body>


<!-- (WLAD)  <p>
    {{ listavisita | json }}
  <p>
  
  <ul>
    <li *ngFor="let destino of listavisita">
      {{ destino.name }}
    </li>
  <ul>
  
  <div class="container-btn">
    <button class="btn btn-success"(click)="salvarNovo()">Add destino</button>
  </div>

<input type="text">
  <label for=""></label> -->
